<%- include('templates/header.ejs') %>
<table>
    <thead>
        <tr>
            <th>
               Título 
            </th>
            <th>
                Dirección
            </th>
            <th>
               género 
            </th>
            <th>
                Año
            </th>
            <th>
                Duración
            </th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>
<%- include('templates/footer.ejs') %>