<main>
    <h1>
        <%= titulo%>
    </h1>
    <p>
        <%= msg%>
    </p>
</main>
    <form method="get" action="/search/">
        <input type="text" name="query">
        <input type="submit" value="buscar">

        
        
</form>