<!-- ESTE ejs es el del login, tendra un enlace a crear nuevo usuario, ejs singup y los botones de logear con google -->
<%- include('templates/header.ejs') %>
    <main>
        <h1>
            <%= titulo%>
        </h1>
        <p>
            <%= msg%>
        </p>
    </main>
    <form method="post" action="/login/">
        <input type="text" name="email" placeholder="e-mail">
        <input type="password" name="password" placeholder="contraseña">
        <input type="submit" value="Entrar">



    </form>

    <a href="/signup">
        <button>
            Crear usuario
        </button>
    </a>


    <%- include('templates/footer.ejs') %>