<%- include('templates/header.ejs') %>
<main>
    <h1>
        <%= titulo%>
    </h1>
    <p>
        <%= msg%>
    </p>
</main>
    <form method="post" action="/login/">
        <input type="text" name="email" placeholder="e-mail">
        <input type="password" name="password" placeholder="contraseña">
        <input type="submit" value="Entrar">

        
        
</form>

<%- include('templates/footer.ejs') %>