<nav class="nav">
    <ul class="nav-horiz">
        <li>
            <a class="logo" href="/dashboard">
                <img src="https://img.freepik.com/vector-premium/ilustracion-dibujos-animados-hamburguesa_9845-477.jpg?w=2000"
                    alt="logo-hamburguesa">
                <ul class="nav-desplegable">
                    <li><a class="nav-item" href="/search">
                            <i class="fi fi-br-search"></i>
                            Search
                        </a></li>
                    <li><a class="nav-item" href="/movies">
                            <i class="fi fi-rr-film"></i>
                            Movies
                        </a></li>
                    <li><a class="nav-item" href="/logout">
                            Log out
                        </a>
                    </li>
                </ul>
            </a>
        </li>
    </ul>
</nav>