<nav class="nav">
    <ul class="nav-horiz">
        <li>
            <a class="logo" href="/dashboard.html">
                <i class="fi fi-rr-burger-alt"></i>
                <ul class="nav-desplegable">
                    <!-- <li><a class="nav-item" href="/adminDashboard.html">
                            <i class="fi fi-br-search"></i>
                            Todas tus pelis
                        </a></li> -->
                    <li><a class="nav-item" href="/log.html">
                            <i class="fi fi-br-sign-out-alt"></i>
                            Log out
                        </a>
                    </li>
                </ul>
            </a>
        </li>
    </ul>
</nav>