<nav class="h-cont">
    <div class="title">
        <h1>Crear película</h1>
    </div>
    <div class="back-button">
        <a class="a-back" href="/adminDashboard">
            <i class="fi fi-rr-film"></i>
        </a>
    </div>
</nav>