* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Roboto Condensed', sans-serif;
}
table {
    border: 1px solid black;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(odd) {
    background-color: #ffffff;
  }

input {
    border: 1px solid black;
}

.flex-container {
    display: flex;

}

.dash-movies {
    background-color: blueviolet;
    position: relative;
    height: 100vh;
    width: 50%;
    /*alineadores de texto (contenido in-line )en flex dentro del contenedor*/
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.dash-search {
    background-color: coral;
    width: 50%;
    height: 100vh;

    /*alineadores de texto (contenido in-line )en flex dentro del contenedor*/
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.dash-a {

    color: white;
    font-size: 7vh;
    display: inline-block;
    transition: 0.3s;
}

.dash-a:hover {
    transform: scale(1.2);
}


.dash-out {
    position: absolute;
    color: white;
    font-size: 7vh;
    bottom: 3vh;
    left: 5vh;
    transition: 0.3s;
}
.dash-out:hover {
    transform: scale(1.2);
}



/*HASTA AQUI EL DASHBOARD colores D7D9D7 C9C5CB BAACBD B48EAE 646E68*/
nav {
    height: 15%;
    max-width: 100%;
    margin: auto;
    background-color: #BAACBD;
    /* font-size: 2vh; */
}

.nav-horiz {
    list-style: none;
    display: flex;
    justify-content: left;
}

.nav-desplegable {
    position: absolute;
    display: none;
    list-style: none;
    width: 20vw;
    background-color: rgb(186, 172, 189, 0.5);
}

.nav-horiz li:hover .nav-desplegable {
    display: block;
}

.logo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.nav a {
    position: relative;
    color: white;
    display: table;
    padding: 10px;
    margin: auto;
}

/*HASTA AQUI LA NAV BAR*/
/*----GRID CARD CONTAINER-----*/
.grid-container {
    width: 97%;
    display: grid;
    padding: 1vw;
    grid-template-columns: 1fr;
    gap: 1vh;
    border: 3px solid slateblue;
}
.films-container h1{
    font-size: 30px;
    text-align: center;
    margin: 1vh auto;
}

.movie-card {
    position: relative;
    display: block;
    width: 93vw;
    height: 45vh;
    margin: 2vh auto;
    overflow: hidden;
    border-radius: 12%;
    transition: all 1s;
    box-shadow: 2px 2px 2px 2px rgb(180, 142, 174, 0.8);
}
.movie-card:hover {
    transform: scale(1.02);
}


.info-section {
    position: relative;
    width: 100%;
    height: 100%;
}

.movie-header {
    position: relative;
    padding: 2vh 2vw;
    height: 80%;
}

.movie-img {
    overflow: hidden;

}

.datos {
    display: block;
    text-align: center;
    width: 52%;
    height: 65%;
    position: absolute;
    top: 20%;
    left: 45%;
}

.movie-header h1 {
    display: flex;
    position: relative;
    justify-content: center;
    color: black;
    font-weight: 100;
}

.movie-header h4 {
    display: block;
    text-align: center;
    color: grey;
    font-weight: 300;
    margin-top: 10px;
    font-style: italic;
}

.movie-header span {
    display: block;
    text-align: center;
    color: grey;
    margin-top: 2% auto;
    border: 1px solid rgba(0, 0, 0, 0.07);
    margin-top: 10px;
}

.movie-img {
    position: relative;
    display: block;
    float: left;
    width: 43%;
    height: 100%;
    border: 2px solid black;
    border-radius: 5%;
    margin: auto;
}

.img-mini {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
}
.movie-buttons{
 display: flex;
 justify-content:space-around;
}
.false-button{
    width: 35%;
    height: 100%;
    margin-top: 7px;
    background-color: #BAACBD;
    border-radius: 10%;
    align-content: center;
}
.false-button{
    text-align: center;
}
.false-button a{
    text-decoration: none;
    color: black;
    background-color: none;
}
.form-container{
    display: flex;
    padding: 2vh 2vw;
    justify-content: center;
    /* height: 8vh; */

}
.form-container h2{
    margin-top: 1vh;
}

.search-t{
color: #BAACBD;
border: 1px solid rgba(0, 0, 0, 0.1);
height: 4.5vh;
width: 35vw;
font-size: medium;
text-align: center;
margin: 1vw;
}
.sub{
    background-color: #BAACBD;
    height: 4.5vh;
    width: 15vw;
    font-size: medium;
    border-radius: 15%;
    transition: 0.5s;
}
.sub:hover{
    background-color: rgb(180, 142, 174);
}

/*D7D9D7 C9C5CB BAACBD B48EAE 646E68*/
/**********por debajo de 768***********/
@media screen and (min-width:768px) {
    nav {
        height: 15%;
        max-width: 100%;
        margin: auto;
        background-color: #BAACBD;
        font-size: 5vh;
    }

    .nav-desplegable {
        position: absolute;
        display: none;
        list-style: none;
        width: 25vw;
        background-color: rgb(186, 172, 189, 0.5);
    }

    .nav-item,
    .nav i {
        font-size: 2.5vh;
    }

    /*cards*/
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
    .films-container h1{
        font-size: 30px;
        text-align: center;
        margin: 1vh auto;
    }

    .movie-card {
        width: 40vw;
        height: 55vh;
        margin: 2vh auto;
        padding-left: 1.7vw;
    }
    .datos {
        position: static;
        width: 95%;
        
    }

    .movie-header{                  
        height: 85%;
    }
    .movie-header h1 {
        margin-top: 10px;
        display: block;
        text-align: center;
        font-weight: 100;
        font-size: 16px;
    }

    .movie-header h4 {
        display: inline-block;
        margin: auto;
        font-weight: 300;
        font-size: small;
    }

    .movie-header span {
        display: inline-block;
        text-align: center;
        margin-top: auto;
        font-size: small;
    }

    .movie-img {
        position: relative;
        width: 95%;
        height: 85%;
        margin: auto;

    }

    .img-mini {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
    }
    .false-button{
        width: 40%;
        height: 100%;
        margin-top: 2px;
        font-size: 15px;
    }
    .form-container h2{
        margin-top: 1.2vh;
    }
    .search-t{
    width: 27vw;
    font-size: large;
    }
    .sub{
    width: 12vw;
    font-size: large;
    }        



}

/**********por debajo de 992***********/
@media screen and (min-width:992px) {
    .nav-item,
    .nav i {
        font-size: 2.7vh;
    }

    .movie-card{
        width: 45vw;
        height: 38vh;
    }
    .movie-header{
        position: relative;
        height: 75%;
    }
    .datos{
        position: absolute;
        top: 30%;
        left: 55%;
        width: 40%;
    }

    .movie-header h1 {
        font-size: 23px;
    }

    .movie-header h4 {
        display: block;
        margin-top: 5px;
    }

    .movie-header span {
        display: block;
        margin-top: 5px;

    }

    .movie-img {
        position: relative;
        width: 53%;
        height: 100%;
        margin: auto;
    }
    .form-container h2{
        margin-top: 1.3vh;
    }
    .search-t{
    width: 25vw;
    font-size: large;
    }
    .sub{
    width: 10vw;
    font-size: large;
    }  
}

/**********por debajo de 1200***********/
@media screen and (min-width:1200px) {

    .nav-item,
    .nav i {
        font-size: 3vh;
    }

    /*cards*/
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .movie-card {
        width: 25vw;
        height: 65vh;
        padding: 0;
    }

    .movie-header{
        height: 85%;
        margin:0;
    }

    .datos{
        display: block;
        position: static;
        width: 100%;
    }

    .movie-header h1 {
        margin-top: 5px;
        display: block;
        font-size: 17px;
    }

    .movie-header span {
        margin-top: 2px;
        display: block;
        text-align: center;
    }

    .movie-img {
        position: relative;
        width: 95%;
        height: 80%;
        border-radius: 5%;
        margin-left: 0.5vw;
    }
    .form-container h2{
        margin-top: 1.5vh;
    }
    .search-t{
    width: 30vw;
    font-size: large;
    }
    .sub{
    width: 10vw;
    font-size: large;
    }  


}